@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="@Url.Content("~/Content/Train.css")" rel="stylesheet" type="text/css" />
}
    <div class="trainContainer">
        <div class="engine">
            <section class="engineControl"></section>
            <section class="mainEngine">
                <div class="chimney"></div>
                <div class="mainCloud">
                    <div class="cloud cloud1"></div>
                    <div class="cloud cloud2"></div>
                </div>
                <div class="engineCase"></div>
                <div class="headLamp"></div>
            </section>
            <section class="engineWheel">
                <ul>
                    <li>
                        <span class="centerDot"></span>
                        <span class="spokes spokes1"></span>
                        <span class="spokes spokes2"></span>
                        <span class="spokes spokes3"></span>
                        <span class="spokes spokes4"></span>
                        <span class="spokes spokes5"></span>
                        <span class="spokes spokes6"></span>
                    </li>
                    <li>
                        <span class="centerDot"></span>
                        <span class="spokes spokes1"></span>
                        <span class="spokes spokes2"></span>
                        <span class="spokes spokes3"></span>
                        <span class="spokes spokes4"></span>
                        <span class="spokes spokes5"></span>
                        <span class="spokes spokes6"></span>
                    </li>
                    <li>
                        <span class="centerDot"></span>
                        <span class="spokes spokes1"></span>
                        <span class="spokes spokes2"></span>
                        <span class="spokes spokes3"></span>
                        <span class="spokes spokes4"></span>
                        <span class="spokes spokes5"></span>
                        <span class="spokes spokes6"></span>
                    </li>
                </ul>
                <!--<div class="wheelConnector">
                  <span class="connector1"></span>
                  <span class="connector2"></span>
                </div>-->
            </section>
        </div>
        
        <section class="trainTrack"></section>
    </div>